@tailwind base;

body {
  @apply font-content;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary-content;
  line-height: 1.5;
}

@tailwind components;

.btn {
  @apply h-auto px-4 py-2 rounded-full sm:py-[20px] sm:px-5 text-base-100;
}

.btn-sm {
  @apply px-2 py-1 sm:px-4 sm:py-2;
}
.btn-xs {
  @apply px-2 py-1;
}
.btn-outline {
  @apply hover:text-base-100;
}

.section-heading {
  @apply text-2xl sm:text-3xl font-title text-base-content;
}

@tailwind utilities;

.article {
  max-width: calc(100vw - 32px);
}
@screen lg {
  .article {
    max-width: 65ch;
  }
}
